* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #f9f9f9;
    --text: #1f1f1f;
    --pink: #e31a81;
    --twitter-blue: #1d9bf0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.runs {
    text-align: center;
    padding: 60px 30px;
    font-size: 8em;
    line-height: 1;
}

button {
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    background: var(--pink);
    border: none;
    color: #fff;
    letter-spacing: 1px;
    width: 300px;
    height: 60px;
}

button:disabled {
    background-color: rgba(227,26,129, 0.5);
    cursor: not-allowed;
}

.form-group {
    width: 250px;
    margin-bottom: 12px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.settings {
    padding: 20px 30px 60px;
}

input:not([type=checkbox]) {
    width: 100%;
    padding: 6px 9px;
    font-size: 14px;
    border: 1px solid var(--text);
    border-radius: 0;
}

label {
    font-size: 14px;
}

.form-group:last-of-type {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    padding: 12px 18px;
    font-size: 12px;
    text-transform: uppercase;
    background: #12166d;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    width: 120px;
}

input[type=submit]:disabled {
    background-color: rgba(18, 22, 109, 0.5);
}

span.ui-label {
    font-size: 12px;
    display: block;
    margin-top: -12px;
    margin-bottom: 16px;
    color: #a0a0a0;
}

.runs p {
    display: inline-block;
}

.chase-block {
    display: flex;
    justify-content: center;
}

.ui-number {
    font-weight: 900;
}

body {
    position: relative;
}

body:before {
    content: '';
    display: block;
    width: 200%;
    height: 3px;
    background: var(--pink);
    position: fixed;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 2s ease;
}

body.locked:before {
    transform: scaleX(1);
}

.form-group--separator {
    margin-top: 16px;
}

.info-block {
    margin-top: 12px;
    font-size: 12px;
    color: var(--pink);
}

.display-distance.hidden {
    display: none;
}

button#lock-screen {
    position: fixed;
    right: calc(25% - 55px);
    bottom: -60px;
    width: 110px;
    font-size: 12px;
    padding: 6px 10px;
    height: auto;
    background-color: #12166d;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

button#lock-screen.show {
    bottom: 20px;
}

.x-share {
    position: fixed;
    right: calc(25% - 90px);
    bottom: -60px;
    width: 180px;
    font-size: 12px;
    padding: 6px 10px;
    height: 34px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
}

.x-share.show {
    bottom: 20px;
}

.x-share svg {
    width: 18px;
}

.x-share span {
    display: block;
    margin-left: 8px;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    transform: translateX(25%);
}

button#start-run-chase {
    position: relative;
    --width: 0;
}

button#start-run-chase:after,
button#start-run-chase:before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #f292be;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 1s ease-in-out;
}

button#start-run-chase:after {
    background: var(--pink);
    width: var(--width);
}

@media screen and (min-width: 601px) {
    body {
        overflow: hidden;
    }

    /* ANIMATION */
    body, .settings, body:after {
        transition: transform 0.4s ease-in-out;
    }

    body.active {
        transform: translateX(-25%);
    }

    body.active:after {
        transform: skewX(20deg) scale(1.6) translateX(-40%);
    }

    body.active .settings {
        transform: translateX(-50%);
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        height: 100vh;
    }
    
    .runs {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    .settings {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    body:after {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        background-color: var(--pink);
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        transform: skewX(20deg) scale(1.6) translateX(-20%);
    }
    
    input[type=number] {
        background: var(--pink);
        border: none;
        border-bottom: 1px solid #ff84c3;
        color: #ffebf5;
    }
    
    input[type=number]:focus {
        outline: none;
    }
    
    label {
        color: #ff84c3;
    }

    .timer {
        position: fixed;
        top: 0;
        font-size: 38em;
        transform: translateX(31vw);
        font-weight: 700;
        color: rgba(31, 31, 31, 0.04);
        z-index: -2;
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: end;
        letter-spacing: -0.15em;
        font-family: "Fira Code", monospace;
    }
}

@media screen and (max-width: 600px) {
    .runs {
        font-size: 5em;
    }
    .timer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(0%);
        font-size: 115vw;
        line-height: 1;
        font-weight: 900;
        z-index: -1;
        color: rgba(31, 31, 31, 0.1);
        font-family: "Fira Code", monospace;
    }
    canvas {
        transform: translateX(0);
    }
    
    .x-share {
        right: 50%;
        transform: translateX(50%);
    }
    
    button#lock-screen {
        right: 50%;
        transform: translateX(50%);
    }

    /* ANIMATION */
    .settings, body:after, .runs {
        transition: transform 0.4s ease-in-out;
    }

    body.active {
        overflow: hidden;
    }

    body:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--pink);
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform: skewX(64deg) scaleX(3);
        transform-origin: bottom;
        transition: transform 0.4s ease-in-out;
    }
    
    body.active:after {
        transform: skewX(64deg) scaleX(3) translateX(-100%);
    }

    body.active .settings {
        transform: translateY(100%);
    }

    body.active .runs {
        transform: translateY(20%);
    }

    body.active .runs {
        position: fixed;
        width: 100%;
        
    }
    
    body.active .settings {
        position: fixed;
        bottom: -100%;
    }
}